* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    border: none;
}
:root {
    --lighter: #F1F6F9;
    --light: #9BA4B5;
    --dark: #394867;
    --darker: #212A3E;
}
a:visited {
    color: inherit;
}

header nav {
    background-color: var(--lighter);
    color: var(--dark);
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
header nav ul {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
}
header nav ul a {
    padding: 8px 24px;
    border-radius: 16px;
    transition: box-shadow .4s ease-in-out;
}
header nav ul a:hover {
    box-shadow: 0 4px 10px -4px var(--light);
    transition: box-shadow .4s ease-in-out;
}
.search {
    width: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px -4px var(--light);
}

.search input[type='text'] {
    width: calc(100% - 48px);
    padding: 8px;
}
.search input[type='submit'] {
    width: 48px;
    cursor: pointer;
    background: url('/app/resources/assets/images/loupe.svg') white center center no-repeat;
    background-size: 20px 20px;
    display: block;
}
.search img {
    width: 16px;
}
.logo img {
    display: block;
    width: 64px;
    height: auto;
}
a.logo {
    display: flex;
    justify-items: center;
    text-decoration: none;
}
.logo_text {
    flex: 0;
    margin: auto 10px;
    font-weight: bold;
    font-size: 28px;
    color: var(--dark);
}
main {
    /*padding: 24px 0;*/
    /*background-color: var(--light);*/
    min-height: 100vh;
}