.movie_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 32px;
    justify-content: flex-start;
}
.movie_card {
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 33.3333%;
}
.movie_poster {
    display: block;
    width: 400px;
    height: 600px;
    box-shadow: 0 4px 10px 0 var(--dark);
}
.movie_link {
    position: relative;
}
.movie_link .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: var(--lighter);
    transition: all .3s ease-in-out;
}
.movie_link:hover .details {
    opacity: 1;
    transition: all .3s ease-in-out;
}
.movie_card .details > div {
    text-align: center;
    padding: 8px 16px;
}

.movie_card .details > .movie_name {
    font-size: 20px;
    font-weight: 500;
}