{% extends 'base.html' %}

{% block title %}
<title>Фильмы</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="../app/resources/assets/css/home.css">
{% endblock %}

{% block content %}
<div class="movie_list">
{% if (count($movies) != 0): %}
    {% foreach($movies as $movie): %}
        <div class="movie_card">
            <a class="movie_link" href="/movie?id={{$movie[0]}}">
                <img loading="lazy" class="movie_poster" src="{{ $movie['asset_url'] }}" alt="">


                <div class="details">
                    <div class="movie_name">{{ $movie['name'] }}</div>
                    <div class="movie_producer">Режисер: {{ $movie['producer'] }}</div>
                    <div class="movie_description">{{ $movie['description'] }}</div>
                    <div class="movie_duration">{{ $movie['duration'] }} минут</div>
                    <div class="movie_starts">В кино с {{ $movie['date'] }}</div>
                </div>
            </a>
        </div>
    {% endforeach; %}
{% else: %}
<h1 style="margin-inline: auto; color: var(--dark)">К сожения, ничего не удалось найти</h1>
{% endif; %}
</div>
{% endblock %}