<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% yield title %}
    <link rel="stylesheet" href="/app/resources/assets/css/base.css">
    {% yield style %}
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">
                    <img src="/app/resources/assets/images/ticket.svg" alt="Logo">
                <div class="logo_text">Ticket</div>
            </a>
            <ul>
                <li>
                    <form action="/" method="get" class="search">
                        <input name="name" type="text" placeholder="Поиск">
                        <input type="submit" value="">
                    </form></li>
                <li><a href="/">Главная</a></li>
                <li><a href="/">Фильмы</a></li>
                <li><a href="/cinemas">Кинотеарты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% yield content %}
    </main>
</body>
</html>