<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% yield title %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="../app/resources/assets/css/base.css">
    {% yield style %}
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">
                    <img src="../app/resources/assets/images/ticket.png" alt="Logo">
                <div class="logo_text">Ticket</div>
            </a>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/">Фильмы</a></li>
                <li><a href="">Кинотеарты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% yield content %}
    </main>
</body>
</html>